.galeria{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.titulo{
    font-size: 48px;
    font-weight: 450;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor_tipos_galeria_1{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contenedor_tipos_galeria_2{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tipo_galeria{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(177, 187, 143);
    width: 22%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px 25px;
}
.tipo_galeria h3{
    font-size: 25px;
    font-weight: 450;
    
}
.tipo_galeria img{
    width: 80%;
    height: 80%;
}
.tipo_galeria a{
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 50%;
    height: 35px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.tipo a:hover{
    background-color: #00000081;
}