.contenedor{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.contenedor_tipos{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.contenedor_tipos_2{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.noticia_actualidad{
    font-family: 'Times New Roman', Times, serif;
    background-color:  rgb(205, 216, 166);
    width: 33%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px 25px;
}
.noticia_actualidad img{
    width: 100%;
    height: 100%;
}

